@using Microsoft.AspNetCore.Identity

@model BlaBlaCar.Domain.Route
@{
    ViewData["Title"] = "Добавить маршрут";
}


    <div class="card-header">
        <h5 class="display-4" style="max-width: 22em;">
            @Model.FromCity - @Model.ToCity
        </h5>
    </div>

    <div class="card-body">


        <div class="row mt-3 mb-3">

            <div class="col-3">
                @Model.Driver.FullName
            </div>
            <div class="col-3">
                @Model.Car
            </div>
            <div class="col-3">
                Количество свободных мест: <strong>@Model.PassengersAmount</strong>
            </div>

        </div>

        <form asp-controller="Route" asp-action="ChangePrice" method="post">
            <div class="row mt-3 mb-3">

                <div class="col-3">
                    <label asp-for="Price" class="bmd-label-floating">Цена за пассажира</label>
                </div>

                <div class="col-3">
                    <div class="form-group bmd-form-group">

                        <input type="hidden" name="RouteId" value="@Model.Id">
                        <input asp-for="Price" class="form-control" name="Price" type="number" min="1" />

                    </div>

                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Применить изменения</button>
                </div>

            </div>
        </form>



            <div class="row card-footer justify-content-right">
                <div class="col-3">
                    <form asp-controller="Route" asp-action="RemoveRoute" method="post">
                        <input type="hidden" name="RouteId" value="@Model.Id">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>

                </div>
            </div>

            @section Scripts {
                @await Html.PartialAsync("_ValidationScriptsPartial")
            }
