@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BlaBlaCar TEST 2</h1>

    <div class="d-flex justify-content-center">
        @* <form method="post" action="/Home">
            <div class="row">
                <input value="@ViewBag.BookId" type="text" id="myinput" placeholder="Откуда" />
            </div>
            <div class="row">
                <input type="text" id="myinput" placeholder="Куда" />
            </div>
            <div class="row">
                <input type="date" id="start" name="trip-start"
                       value="2020-11-30"
                       min="2020-11-01" max="2021-12-31">
            </div>
            <div class="row">
                <input type="number" id="myinput" value="1" min="1" max="21"/>
            </div>
        </form>*@
 
        @foreach (var post in Model)
        {
            <div class="card" style="width: 60rem;">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h4 class="display-4" style="font-size: 150%;">
                                    <b>@post.FromCity - @post.ToCity</b>
                                </h4>
                            </div>
                            <div class="col">
                                <h4 class="display-4" style="font-size: 150%;">
                                    <b>@post.Price ₽/пассажир</b>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="display-4" style="font-size: 150%;">
                                    Время выезда: @post.Date
                                </div>
                            </div>
                         
                            <div class="col">
                                <div class="display-4" style="font-size: 150%;">
                                    @post.PassengersAmount свободных мест
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn btn-primary">Забронировать</a>
                            </div>
                            <div class="col">
                                <div class="display-4" style="font-size: 150%;">
                                    @post.Driver
                                    <br>
                                    @post.Car
                                </div>
                            </div>
                        </div>
                        
                        @*<blockquote class="blockquote mb-0">
                            <p>@post.Car</p>
                            <footer class="blockquote-footer">@post.Driver (<cite title="Source Title">@post.Date</cite>)</footer>
                        </blockquote>*@
                    </div>
                </div>
                    <br>
            </div>
            }
    </div>
</div>
